<!DOCTYPE html>
<html lang="en" ng-app = "myPage">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Axeisghost</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" ng-controller = "navBarController as nav">
            <div class="container－fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a ng-click="pageService.changeTab(0)" class="navbar-brand" href="">Brand</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-click="pageService.changeTab(1)" ng-class="{active: pageService.focusedOrNot(1)}"><a href="">Bio</a></li>
                        <li ng-click="pageService.changeTab(2)" ng-class="{active: pageService.focusedOrNot(2)}"><a href="">Contact</a></li>
                        <li ng-click="pageService.changeTab(3)" ng-class="{active: pageService.focusedOrNot(3)}"><a href="">Resume</a></li>
                        <li ng-click="pageService.changeTab(4)" ng-class="{active: pageService.focusedOrNot(4)}"><a href="">Sample Works</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div ng-controller="contentController" class = "container">
            <br/>
            <br/>
            <div ng-if="pageService.focusedOrNot(0)" class = "container">
                <img src="img/worldCloud.png" width = "100%"></img>
            </div>
            <div ng-if="pageService.focusedOrNot(1)">
                <br/>
                <h2>Hi, I am Junxian "Rupert" Wu</h2>
                <p>
                    I am a sophomore Computer Science student in Georgia Institute of Technology, focusing on Artifical Intelligence and Media.
                </p>
                <p>
                    Right now, I am developing a college class scheduler named "Auto-Scheduler" with my team. It is based on Web
                    and it can generate class schedule for students.
                </p>
                <p>
                    I am interested in Machine Learning and Computer Vision, and will continue to study in Georgia
                    Institute of Technology for the Master degree in the next year.  
                </p>
                <p>
                    I am also a fan of Japanese Anime, it is my dream that I can live and work in Japan to make my 
                    own Anime. 
                <p>
                    In the summer of 2016, I will work at Yahoo! Inc at Sunnyvale, CA as an intern Software Engineer.  
                </p>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="interactive.js"></script>
    </body>
</html>